@{
    ViewBag.Title = "About";
}
<br />

<aside>
    
    <div style="float:right;">
        <img src="~/Images/richard_hollon.jpg" style="float:right;" />
        <ul style="list-style-type: none;">
            <li style="text-align: center"><a href="~/Home/Resume/">Resume</a></li>
            <li style="text-align: center"><a href="~/Home/Contact/">Contact</a></li>
        </ul>
    </div>
</aside>

<h3>@ViewBag.Message</h3>

<article>
    <p>I (Richard Hollon) am a 35 year old software engineer headquartered in downtown Austin, Texas USA.</p>
    <p>I enjoy programming in C#, ASP.NET, SQL, HTML5, jQuery, MVC and PowerShell. I also advocate agile practices and continuous integration. I am an avid traveller, having most recently been to Hong Kong & Macau (2011), Manila Phillippines & southern Japan (2012) and Philadelphia, Pennsylvania (2013). I am long overdue for my next adventure.</p>
    <p>In my free time I enjoy: playing my Martin guitar (a lefty), cooking many different things, coldbrewing coffee, bicycling Austin's trails and boardwalk, fresh water fishing, swimming, dove hunting, two steppin' across Texas, editing wacky vacation videos and so much more.</p>
    <p>This website was re-written in MVC5 and Visual Studio 2013 (Sept 2015) during some rare free time.</p>
</article>