@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>

<div id="contactme" style="text-align: center">

        <address>
            <strong>via email:</strong>   <a href="richardsmailbox@gmail.com">richardsmailbox@gmail.com</a><br />
        </address>

        <h2><a href="http://stackexchange.com/users/18017/d3vtr0n" target="_blank" title="View My StackExchange Profile">via Stack Exchange</a></h2>
        <a href="http://stackexchange.com/users/18017/d3vtr0n" target="_blank" title="View My StackExchange Profile">
            <img id="imgStackOverflow" alt="View My StackExchange profile" src="~/Images/stackexchange.png" />
        </a>

        <h2><a href="http://www.linkedin.com/in/richardhollon" target="_blank" title="View My LinkedIn Profile">via LinkedIn</a></h2>
        <a href="http://www.linkedin.com/in/richardhollon" target="_blank" title="View My LinkedIn Profile">
            <img id="imgLinkedIn" alt="View My LinkedIn Profile" src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.gif" />
        </a>

        <h2><a href="http://www.instagram.com/nekotakacho" target="_blank" title="View My Instagram">via Instagram</a></h2>
        <a href="http://www.instagram.com/nekotakacho" target="_blank" title="View My Instagram">
            <img id="imgInstagram" alt="View My Instagram" src="~/Images/instagram.png" />
        </a>

        <h2><a href="http://www.youtube.com/user/Blueberryfarm/videos" target="_blank" title="View My Youtube Channel">via YouTube</a></h2>
        <a href="http://www.youtube.com/user/Blueberryfarm/videos" target="_blank" title="View My Youtube Channel">
            <img id="imgYoutube" alt="View My YouTube Channel" src="~/Images/youtube.png" />
        </a>

        <h2><a href="https://github.com/Devtr0n" target="_blank" title="View My GitHub Repositories">via GitHub</a></h2>
        <a href="https://github.com/Devtr0n" target="_blank" title="View My GitHub Repositories">
            <img id="imgGitHub" alt="View My Github Repositories" src="~/Images/github.png" />
        </a>
</div>

@*<address>
    54 Rainey Street<br />
    Austin, Texas 78701<br />
</address>*@

@*<address>
    <strong>via email:</strong>   <a href="richardsmailbox@gmail.com">richardsmailbox@gmail.com</a><br />
</address>*@